*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%; //1rem=10px; 10px/16 = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desc) {
        font-size: 75%;
    }
}

body {
    background-color: $grey-color-light;
    color: $grey-color-light;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;

    @include respond(tab-port) {
        padding: 0;
    }
}
