.skills {
    background-color: $prime-color;
    padding: 15rem 0;
    margin-top: -15rem;
    z-index: 1;   
 }

 .about {
    padding: 8rem 0;
    margin-top: -10rem;
    background-image: linear-gradient(to right bottom,
    rgba(#000, .6),
    rgba(#1e1e1e, 0.5)),
    url(../img/home.jpeg);
    background-size: cover;
    transform: skewY(-5deg);

    & > * {
        transform: skewY(5deg);
    }

    &__info{
        width: 50%;
        margin: 2rem;
    }

    &__text{
        font-size: 2rem;
    }

    &__knowledge {
        margin-top: 2rem;
        display: grid;
        grid-gap: 2rem;  // spacing
        grid-template-areas:
        'list1 list2';
        grid-template-columns: repeat(3, 2fr);
    }

    &__list {
        list-style: none;
        margin-left: 2rem;
    }

    &__item {
        font-size: 2rem;
        color: $third-color;
    }

 }

 .resume {
    background-color: $prime-color;
    padding-top: 25rem;
    padding-bottom: 10rem;
    margin-top: -20rem;
    text-align: center;

    &__paragraph {
        font-size: 2rem;
        text-align: center;
        padding: 2rem 0;
    }
 }
